body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #CA6363;
}

.card {
  margin-top: 4rem;

  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 3px;
}

.card-img {
  height: 130px;
}

.card-text {
  padding: 12px;
  max-width: 180px;
}

.price {
  padding-top: 0.3rem;
}

@media (max-width: 768px) {
  .card {
      width: 80%;

  }
  .card-img {
    width: 100%;
}
}

@media (max-width: 480px) {
  .card {
      width: 90%;
     
      
  }
  .card-img {
    width: 100%;
}
}

